 <div class="navbar navbar-default navbar-fixed-top" id="top-navbar" role="navigation">
  	<div class="container-fluid">
  		<div class="navbar-header">
  			<a class="navbar-brand" href="#">
  				<img alt="蜻蜓DM平台" src="http://admin.qingting.fm/static/images/logo_beta.png">
  			</a>
  		</div>
  		<div class="row">
  		  		<div class="collapse navbar-collapse col-md-offset-2" id="top-tabs">
  					<ul class="nav navbar-nav">
  						<li class="active"><a href="/">首页</a></li>
  					</ul>
      			</div>
  		</div>
  	</div>
  </div>